<h1>Manage Inventory</h1>
<div class="row mb-10">
    <div class="col-12">
        <button type="button" class="btn btn-info pull-right" routerLink="product/add">Add New</button>
    </div>
</div>
<div class="row" *ngIf="products && !products.length">
    <div class="col-12">No Records Found</div>
</div>
<div class="row" *ngIf="products && products.length">
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
                <th scope="row">{{product.name}}</th>
                <td>{{product.desc | truncate:40}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price|currency:'INR':true}}</td>
                <td>{{product.quantity}}</td>
                <td><a routerLink="product/edit/{{product.id}}">E</a> | D</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>