<div class="row">
    <div class="col">
        filters
    </div>
</div>
<div class="row">
    <div class="col-sm-3" *ngFor="let product of products">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">{{product.name}}</h3>
                <p class="card-text">{{product.desc | truncate:10}}</p>
                <p>
                    <span class="text-info">{{product.price | currency:'INR':true}}</span>
                    <span> | </span>
                    <span class="text-warning">Quantity: {{product.quantity}}</span>
                </p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>